{% assign s = section.settings %}
<div class="footer_content">
    <div class="footer_newsletter">
        <h2>{{ s.newsletter_title }}</h2>
        <div>{{ s.newsletter_subtitle }}</div>
        <div>{% render 'newsletter' %}</div>
    </div>
    <div class="footer_content-logo">{% render 'logo' with 'secondary' %}</div>
    <div class="footer_content-navigation">
        <h2>{{ s.title_navigation }}</h2>
        <div class="footer_navigation-wrapper">
            <nav>
                <ul>
                    {% for link in linklists[s.navigation_1].links %}
                    <li><a class="hovered" href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor%}
                </ul>
            </nav>

            <nav>
                <ul>
                    {% for link in linklists[s.navigation_2].links %}
                    <li><a class="hovered" href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor%}
                </ul>
            </nav>

            <nav>
                <ul>
                    {% for link in linklists[s.navigation_3].links %}
                    <li><a class="hovered" href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor%}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "settings": [
     {
        "type": "header",
        "content": "Newsletter"
     },
     {
        "type": "text",
        "id": "newsletter_title",
        "label": "Newsletter title"
     },
     {
        "type": "text",
        "id": "newsletter_subtitle",
        "label": "Newsletter subtitle"
     },
     {
        "type": "header",
        "content": "Navigation"
     },
     {
         "type": "text",
         "id": "title_navigation",
         "label": "Title"
     },
     {
        "type": "link_list",
        "id": "navigation_1",
        "label": "Navigation 1"
     },
     {
        "type": "link_list",
        "id": "navigation_2",
        "label": "Navigation 2"
     },
     {
        "type": "link_list",
        "id": "navigation_3",
        "label": "Navigation 3"
     }
    ]
}
{% endschema %}