{% assign s = section.settings %}
<div class="banner">
    <div class="banner_img">
        <img src="{{ s.img | image_url: height: 475 }}" alt="{{ s.img.alt }}">
    </div>
    <div class="banner_content">
        <h1>{{ s.title }}</h1>
        <h2>{{ s.subtitle }}</h2>
    </div>
    <div class="banner_tagline">{{ s.tagline }}</div>
</div>

{% schema %}
{
    "name": "Home banner",
    "tag": "section",
    "class": "banner_wrapper",
    "settings": [
    {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "text",
        "id": "tagline",
        "label": "Tagline"
    }
    ]
}

{% endschema %}