{% assign s = section.settings %}
<div class="product-grid">
    <div class="product-grid_header">
        <div>
            <h3>{{ s.title }}</h3>
            <div>{{ s.subtitle }}</div>
        </div>
        <a class="product-grid_link product-grid_link-desktop" href="{{ s.collection_url }}">{{ s.collection_link }}</a>
    </div>


    {% comment %}Grid - desktop{% endcomment %}
    <div class="product-grid_content">
        {% for product in collections[s.collection].products limit: s.limit %}
        {% render 'product-card', product:product %}
        {% endfor %}
    </div>

     {% comment %}Grid - mobile{% endcomment %}
    <div class="swiper-container product-grid_slider">
        <div class="swiper-wrapper">
            {% for product in collections[s.collection].products limit: s.limit %}
            <div class="swiper-slide">{% render 'product-card', product:product %}</div>
            {% endfor %}
        </div>
    </div>
    <div class="product-grid_link-mobile">
        <a class="product-grid_link" href="{{ s.collection_url }}">{{ s.collection_link }}</a>
    </div>

</div>

{% schema %}
{
    "name": "Product grid",
    "tag": "section",
    "class": "product-grid_wrapper",
    "settings": [
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    },
    {
        "type": "number",
        "id": "limit",
        "label": "Max products to show"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "text",
        "id": "collection_link",
        "label": "Collection link"
    },
    {
        "type": "url",
        "id": "collection_url",
        "label": "Collection url"
    }
    ]
}
{% endschema %}